@media(max-width:850px){
    *{
        overflow-x: hidden;
    }
    .text-box h1{
        font-size: 40px;
    }
    .nav-links ul li{
        display: block;
        padding: 14px;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -255px;
        text-align: left;
        z-index: 999;
    }
    .io{
        display: block;
        margin: auto;
        position: absolute;
        bottom: 40px;
        padding: 25px;
    }
    .io i{
        margin: 0 7px;
        color: #fff;
        font-size: 27px;
    }
  
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 14px;
        font-size: 38px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 20px;
    }

    .row{
        flex-direction: column;
    }
    .course{
        padding-top: 30px;
    }
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
    .cta h1{
        font-size: 20px;
    }
    .hero-btn{
        border: 1px solid #f44336;
        background: #f44336;
    }
    .red-btn{
        color: #fff;
    }

    /* about us */
    .sub-header{
        height: 30vh;
        overflow: hidden;
    }
    .sub-header a{
       font-size: 18px;
    }
    .sub-header h1{
        margin: 2rem;
        letter-spacing: 2px;
    }
}
